{% extends 'sushi_rinjin/base.html' %}

{% block content %}

<div>
<ol>
    <li>
        <a href="/sushi_rinjin/ingredients/">What our dishes consist of</a>,
        <a href="/sushi_rinjin/ingred/">(and by rest)</a>.<br>
        <a href="/sushi_rinjin/ingred_rest/">All ingredients by rest</a>
    </li>
    <li>
        <a href="/sushi_rinjin/menu/">Menu - contains {{ menu_amount }}
            dishes</a>
    </li>

    {% if user.username %}
        <li>
            <a href="/sushi_rinjin/orders/">Orders</a>
        </li>
    {% endif %}

    <li>
        <a href="/sushi_rinjin/queries/">Form with queries</a>
    </li>
    {% if user.username %}
         <li>
            <a href="/sushi_rinjin/queries_rest/">Queries with REST</a>
        </li>
    {% endif %}
</ol>

{% endblock %}