<div>
    <h1 style="text-align: center;">
        <span class="marker">
            <span style="font-size:26px; font-family:comic sans ms,cursive">
                Суши - бар &quot;Rinjin&quot;
            </span>
        </span>
    </h1>
    <p style="text-align: left;">
        <em>
            <span style="font-size:20px">
                Заходи к соседу на суши
            </span>
        </em>
    </p>
</div>

<div>
<ol>
    <li>
        <a href="/sushi_rinjin/menu/">Меню - содержит {{ menu_amount }} блюд</a>
    </li>
    <li>
        <a href="/sushi_rinjin/ingredients/">Из чего состоят наши блюда</a>
    </li>
    <li>
        <a href="/sushi_rinjin/orders/">Заказы</a>
    </li>
</ol>
</div>