<div>
    <h1 style="text-align: center;">
        <span class="marker">
            <span style="font-size:26px; font-family:comic sans ms,cursive">
                Sushi delivery &quot;Rinjin&quot;
            </span>
        </span>
    </h1>
    <p style="text-align: left;">
        <em>
            <span style="font-size:20px">
                Come to a neighbor on a sushi
            </span>
        </em>
    </p>
</div>

<div>
<ol>
    <li>
        <a href="/sushi_rinjin/menu/">Menu - contains {{ menu_amount }}
            dishes</a>
    </li>
    <li>
        <a href="/sushi_rinjin/ingredients/">What our dishes consist of</a>
    </li>
    <li>
        <a href="/sushi_rinjin/orders/">Orders</a>
    </li>
    <li>
        <a href="/sushi_rinjin/queries/">Form with queries</a>
    </li>
</ol>
</div>