{% extends 'sushi_rinjin/base.html' %}

{% block content %}

<h2>Ingredients</h2>
<div>
    {% if user.username %}
        <p>
            <a href="{% url 'sushi_rinjin:add_ingred' %}">Add new ingredient</a>
        </p>
        <p>
            <a href="{% url 'sushi_rinjin:choose_ingred' %}">Edit igredients</a>
        </p>
    {% endif %}

    {% if ingred_list %}
        <ul type="square">
        {% for ing in ingred_list %}
            <li>{{ing.ingredient}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Some error. No ingredients</p>
    {% endif %}
    <p>
        <u>All the freshest for you;)</u>
    </p>
    <br>
    <p>
        <em>
            <a href="/sushi_rinjin">Back to main page</a>
        </em>
    </p>
</div>

{% endblock %}