<h2>Ingredients</h2>
<div>
    <p><a href="/sushi_rinjin/ingredient_add/">Add new ingredient</a></p>
    {% if ingred_list %}
        <ul type="square">
        {% for ing in ingred_list %}
            <li>{{ing.ingredient}}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Some error. No ingredients</p>
    {% endif %}
    <p>
        <u>All the freshest for you;)</u>
    </p>
    <br>
    <p>
        <em>
            <a href="/sushi_rinjin">Back to main page</a>
        </em>
    </p>
</div>