<h2>Menu</h2>
<div>
    {% if dishes %}
        <ul>
        {% for dish in dishes %}
            <li>{{dish.dish_name}}: {{dish.price}} grn, consist of:
                <ul type = 'disk'>
                    {% for ing in dish.ingredients.all %}
                        <li>{{ ing.ingredient }}</li>
                    {% endfor %}
                </ul>
            </li>
            <br>
        {% endfor %}
        </ul>
    {% else %}
        <p>No dishes in the Menu</p>
    {% endif %}
    <br>
    <p>
        <em><a href="/sushi_rinjin/">Back to main page</a></em>
    </p>
</div>