{% extends 'sushi_rinjin/base.html' %}

{% block content %}

<h3>Orders</h3>
    {% if user.username %}
        <p><a href="{% url 'sushi_rinjin:order_add' %}">Add new order</a></p>
    {% endif %}

<div>
    {% if result_list %}
        <ul>
        {% for res in result_list %}
        <li><a href="/sushi_rinjin/order/{{ res.0 }}/"> Order № {{ res.0 }},
        </a> client {{ res.1 }}, {{ res.2 }} (with {{ res.3 }})
            <p>Detail: tel {{ res.4 }}, address {{ res.5 }}</p>
        </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No orders</p>
    {% endif %}
    <br>
    <p>
        <em><a href="/sushi_rinjin/">Back to main page</a></em>
    </p>
</div>

{% endblock %}