.page_header {
    background:lightseagreen;
    padding: 10px;
}

.head_title {
    text-align: center;
    font-size:22px;
    font-family:comic sans ms, cursive;
}

.login_zone {
  float: right;
  margin-top:10px;
  padding:10px;
}

#login_label {
    width: 70px;
    background:lightgreen;
    padding:10px;
}

#logout_label {
    width: 70px;
    background:skyblue;
    padding:10px;
}

#sign_up {
    width: 70px;
    background:springgreen;
    padding:13px;
}

#user_part {
  float: right;
  margin-top:2px;
}

#promo {
    font-size:20px;
    font-style: italic;
}

#home a {
    text-decoration: none;
    color: indigo;
}

#home a:hover {
    text-decoration: none;
    color: black;
   }